## Reading data

In [3]:
import os
import pandas as pd

directory_path = "Data"

csv_files = [f for f in os.listdir(directory_path) if f.endswith('.csv')]

In [4]:
import pandas as pd
import os

directory_path = "Data"


file_variable_mapping = {
    'demand_forecast.csv': 'demand_forecast', 
    'weather_data.csv': 'weather_data',
    'gas_price.csv': 'gas_price', 
    'nodes_i5-short.csv': 'nodes_i5_short',
    'grid_mix.csv': 'grid_mix',
    'storage.csv': 'storage',
    'LMP_data_full.csv': 'LMP_data_full',
    'weather_stations.csv': 'weather_stations',
    'load.csv': 'load'
}

loaded_data = {}

for file_name, variable_name in file_variable_mapping.items():
    file_path = os.path.join(directory_path, file_name)
    df = pd.read_csv(file_path)
    loaded_data[variable_name] = df

globals().update(loaded_data)

demand_forecast 데이터프레임의 첫 5행:
       INTERVALSTARTTIME_GMT        INTERVALENDTIME_GMT  LOAD_TYPE  \
0  2022-01-01 08:00:00+00:00  2022-01-01 09:00:00+00:00          1
1  2022-01-01 08:00:00+00:00  2022-01-01 09:00:00+00:00          1
2  2022-01-01 08:00:00+00:00  2022-01-01 09:00:00+00:00          1
3  2022-01-01 08:00:00+00:00  2022-01-01 09:00:00+00:00          1
4  2022-01-01 08:00:00+00:00  2022-01-01 09:00:00+00:00          1

       OPR_DT  OPR_HR  OPR_INTERVAL MARKET_RUN_ID TAC_AREA_NAME  \
0  2022-01-01       1             0           DAM          PACW
1  2022-01-01       1             0           DAM          TIDC
2  2022-01-01       1             0           DAM       PGE-TAC
3  2022-01-01       1             0           DAM      BANCSMUD
4  2022-01-01       1             0           DAM          BANC

                       LABEL   XML_DATA_ITEM  POS        MW EXECUTION_TYPE  \
0  Demand Forecast Day Ahead  SYS_FCST_DA_MW  2.8   3033.35            DAM
1  Demand Forecast Day Ahead  SYS_FCST_DA_MW  2.8    250.63            DAM
2  Demand Forecast Day Ahead  SYS_FCST_DA_MW  2.1  10247.46            DAM
3  Demand Forecast Day Ahead  SYS_FCST_DA_MW  2.8   1155.01            DAM
4  Demand Forecast Day Ahead  SYS_FCST_DA_MW  2.8   1638.79            DAM

   GROUP
0     15
1     24
2     17
3      6
4      2
weather_data 데이터프레임의 첫 5행:
                  time  temp  dwpt  rhum  prcp  snow   wdir  wspd  wpgt  \
0  2022-04-23 14:00:00  15.0   6.0  55.0   NaN   NaN  300.0  15.0   NaN
1  2022-04-23 15:00:00  16.0   6.1  52.0   NaN   NaN  300.0  22.0   NaN
2  2022-04-23 16:00:00  17.0   5.9  48.0   NaN   NaN  330.0  17.0   NaN
3  2022-04-23 17:00:00  17.0   5.9  48.0   NaN   NaN  330.0  20.0   NaN
4  2022-04-23 18:00:00  20.0   4.9  37.0   NaN   NaN  330.0  20.0   NaN

     pres  tsun  coco station_id
0  1023.0   NaN   NaN      Q5MJ7
1  1023.0   NaN   NaN      Q5MJ7
2  1024.0   NaN   NaN      Q5MJ7
3  1024.0   NaN   NaN      Q5MJ7
4  1023.0   NaN   NaN      Q5MJ7
gas_price 데이터프레임의 첫 5행:
                        Time             Interval Start  \
0  2022-01-01 00:00:00-08:00  2022-01-01 00:00:00-08:00
1  2022-01-01 01:00:00-08:00  2022-01-01 01:00:00-08:00
2  2022-01-01 02:00:00-08:00  2022-01-01 02:00:00-08:00
3  2022-01-01 03:00:00-08:00  2022-01-01 03:00:00-08:00
4  2022-01-01 04:00:00-08:00  2022-01-01 04:00:00-08:00

                Interval End Fuel Region Id  Price
0  2022-01-01 01:00:00-08:00         FRAEC1   3.94
1  2022-01-01 02:00:00-08:00         FRAEC1   3.94
2  2022-01-01 03:00:00-08:00         FRAEC1   3.94
3  2022-01-01 04:00:00-08:00         FRAEC1   3.94
4  2022-01-01 05:00:00-08:00         FRAEC1   3.94
nodes_i5 데이터프레임의 첫 5행:
            node_id   latitude   longitude   area node_type
0     AEC300_1_N001  37.740000 -121.480000     CA      LOAD
1  AIR_SUB_LNODENAA  33.962054 -118.376000  LADWP      LOAD
2  AIR_SUB_LNODENAB  33.961973 -118.375944  LADWP      LOAD
3  AIR_SUB_LNODEONC  33.961973 -118.376056  LADWP      LOAD
4   AKINGS02_7_N001  36.222600 -119.905120     CA       GEN
nodes_i5_short 데이터프레임의 첫 5행:
            node_id   latitude   longitude   area node_type
0    ALAMOSC_7_N001  38.575917 -121.497846     CA       GEN
1   ANDERSON_6_N001  40.449838 -122.305068     CA      LOAD
2     ANTLER_6_N001  40.893581 -122.379244     CA      LOAD
3   ARBUCKLE_6_N001  39.017625 -122.061575     CA      LOAD
4  ATW_SUB_LNODEONB  34.109654 -118.254000  LADWP      LOAD
grid_mix 데이터프레임의 첫 5행:
                        Time             Interval Start  \
0  2022-01-01 00:00:00-08:00  2022-01-01 00:00:00-08:00
1  2022-01-01 00:05:00-08:00  2022-01-01 00:05:00-08:00
2  2022-01-01 00:10:00-08:00  2022-01-01 00:10:00-08:00
3  2022-01-01 00:15:00-08:00  2022-01-01 00:15:00-08:00
4  2022-01-01 00:20:00-08:00  2022-01-01 00:20:00-08:00

                Interval End  Solar    Wind  Geothermal  Biomass  Biogas  \
0  2022-01-01 00:05:00-08:00  -32.0  3829.0       882.0    281.0   205.0
1  2022-01-01 00:10:00-08:00  -32.0  3854.0       880.0    279.0   208.0
2  2022-01-01 00:15:00-08:00  -32.0  3934.0       880.0    276.0   209.0
3  2022-01-01 00:20:00-08:00  -32.0  4007.0       879.0    273.0   210.0
4  2022-01-01 00:25:00-08:00  -32.0  3998.0       879.0    275.0   211.0

   Small Hydro  Coal  Nuclear  Natural Gas  Large Hydro  Batteries  Imports  \
0        146.0  20.0   2264.0       7280.0       1200.0     -116.0   8200.0
1        144.0  20.0   2265.0       7119.0       1129.0      117.0   8079.0
2        144.0  20.0   2264.0       6904.0       1114.0      149.0   8085.0
3        145.0  21.0   2265.0       6870.0       1135.0      164.0   7962.0
4        144.0  20.0   2265.0       6860.0       1102.0      152.0   7973.0

   Other
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
storage 데이터프레임의 첫 5행:
                        Time             Interval Start  \
0  2023-02-01 00:00:00-08:00  2023-02-01 00:00:00-08:00
1  2023-02-01 00:05:00-08:00  2023-02-01 00:05:00-08:00
2  2023-02-01 00:10:00-08:00  2023-02-01 00:10:00-08:00
3  2023-02-01 00:15:00-08:00  2023-02-01 00:15:00-08:00
4  2023-02-01 00:20:00-08:00  2023-02-01 00:20:00-08:00

                Interval End  Supply  Stand-alone Batteries  Hybrid Batteries
0  2023-02-01 00:05:00-08:00    -286                   -272                -3
1  2023-02-01 00:10:00-08:00    -226                   -214                -3
2  2023-02-01 00:15:00-08:00    -213                   -207                -2
3  2023-02-01 00:20:00-08:00    -230                   -218                -2
4  2023-02-01 00:25:00-08:00      99                     86                -3
LMP_data_1 데이터프레임의 첫 5행:
   Unnamed: 0                       Time             Interval Start  \
0           0  2022-01-01 00:00:00-08:00  2022-01-01 00:00:00-08:00
1           1  2022-01-01 00:15:00-08:00  2022-01-01 00:15:00-08:00
2           2  2022-01-01 00:30:00-08:00  2022-01-01 00:30:00-08:00
3           3  2022-01-01 00:45:00-08:00  2022-01-01 00:45:00-08:00
4           4  2022-01-01 01:00:00-08:00  2022-01-01 01:00:00-08:00

                Interval End            Market       Location Location Type  \
0  2022-01-01 00:15:00-08:00  REAL_TIME_15_MIN  AEC300_1_N001          Node
1  2022-01-01 00:30:00-08:00  REAL_TIME_15_MIN  AEC300_1_N001          Node
2  2022-01-01 00:45:00-08:00  REAL_TIME_15_MIN  AEC300_1_N001          Node
3  2022-01-01 01:00:00-08:00  REAL_TIME_15_MIN  AEC300_1_N001          Node
4  2022-01-01 01:15:00-08:00  REAL_TIME_15_MIN  AEC300_1_N001          Node

        LMP    Energy  Congestion     Loss
0  63.62281  61.24055         0.0  2.38226
1  63.07837  60.81015         0.0  2.26822
2  62.67302  60.39026         0.0  2.28275
3  62.25668  60.00066         0.0  2.25602
4  58.16824  58.16824         0.0  0.00000
LMP_data_full 데이터프레임의 첫 5행:
   Unnamed: 0                       Time             Interval Start  \
0           0  2022-01-01 00:00:00-08:00  2022-01-01 00:00:00-08:00
1           1  2022-01-01 00:15:00-08:00  2022-01-01 00:15:00-08:00
2           2  2022-01-01 00:30:00-08:00  2022-01-01 00:30:00-08:00
3           3  2022-01-01 00:45:00-08:00  2022-01-01 00:45:00-08:00
4           4  2022-01-01 01:00:00-08:00  2022-01-01 01:00:00-08:00

                Interval End            Market        Location Location Type  \
0  2022-01-01 00:15:00-08:00  REAL_TIME_15_MIN  ALAMOSC_7_N001          Node
1  2022-01-01 00:30:00-08:00  REAL_TIME_15_MIN  ALAMOSC_7_N001          Node
2  2022-01-01 00:45:00-08:00  REAL_TIME_15_MIN  ALAMOSC_7_N001          Node
3  2022-01-01 01:00:00-08:00  REAL_TIME_15_MIN  ALAMOSC_7_N001          Node
4  2022-01-01 01:15:00-08:00  REAL_TIME_15_MIN  ALAMOSC_7_N001          Node

        LMP    Energy  Congestion     Loss
0  59.52582  61.24055         0.0 -1.71474
1  59.61827  60.81015         0.0 -1.19188
2  59.41798  60.39026         0.0 -0.97228
3  59.00465  60.00066         0.0 -0.99601
4  58.16824  58.16824         0.0  0.00000
weather_stations 데이터프레임의 첫 5행:
   Unnamed: 0           node_id   latitude   longitude   area node_type  \
0           0     AEC300_1_N001  37.740000 -121.480000     CA      LOAD
1           1  AIR_SUB_LNODENAA  33.962054 -118.376000  LADWP      LOAD
2           2  AIR_SUB_LNODENAB  33.961973 -118.375944  LADWP      LOAD
3           3  AIR_SUB_LNODEONC  33.961973 -118.376056  LADWP      LOAD
4           4   AKINGS02_7_N001  36.222600 -119.905120     CA       GEN

  weather station
0           Q5MJ7
1           72295
2           72295
3           72295
4           74702
load 데이터프레임의 첫 5행:
                        Time             Interval Start  \
0  2022-01-01 00:00:00-08:00  2022-01-01 00:00:00-08:00
1  2022-01-01 00:05:00-08:00  2022-01-01 00:05:00-08:00
2  2022-01-01 00:10:00-08:00  2022-01-01 00:10:00-08:00
3  2022-01-01 00:15:00-08:00  2022-01-01 00:15:00-08:00
4  2022-01-01 00:20:00-08:00  2022-01-01 00:20:00-08:00

                Interval End     Load
0  2022-01-01 00:05:00-08:00  22583.0
1  2022-01-01 00:10:00-08:00  22496.0
2  2022-01-01 00:15:00-08:00  22429.0
3  2022-01-01 00:20:00-08:00  22350.0
4  2022-01-01 00:25:00-08:00  22289.0

# Choose columns that we only need per datasets

## demand forcast

In [154]:
demand_forecast.columns
demand_forecast=demand_forecast[['INTERVALSTARTTIME_GMT','MW','TAC_AREA_NAME']]
demand_forecast['INTERVALSTARTTIME_GMT'] = pd.to_datetime(demand_forecast['INTERVALSTARTTIME_GMT'], utc=True).dt.tz_convert(None)
demand_forecast = demand_forecast.rename(columns={'INTERVALSTARTTIME_GMT': 'Time'})

/var/folders/3v/lhv9vlyj6192ss8g534c279r0000gn/T/ipykernel_29993/505118355.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demand_forecast['INTERVALSTARTTIME_GMT'] = pd.to_datetime(demand_forecast['INTERVALSTARTTIME_GMT'], utc=True).dt.tz_convert(None)

In [158]:
demand_forecast['TAC_AREA_NAME'] = demand_forecast['TAC_AREA_NAME'].replace({
    'CA ISO-TAC': 'CA'})

## storage

In [165]:
storage = storage[['Time', 'Stand-alone Batteries']]

                             Time  Stand-alone Batteries
0       2023-02-01 00:00:00-08:00                   -272
1       2023-02-01 00:05:00-08:00                   -214
2       2023-02-01 00:10:00-08:00                   -207
3       2023-02-01 00:15:00-08:00                   -218
4       2023-02-01 00:20:00-08:00                     86
...                           ...                    ...
186669  2024-11-10 23:35:00-08:00                     57
186670  2024-11-10 23:40:00-08:00                    -54
186671  2024-11-10 23:45:00-08:00                    -99
186672  2024-11-10 23:50:00-08:00                    378
186673  2024-11-10 23:55:00-08:00                    518

[186674 rows x 2 columns]

## weather

In [166]:
weather_data=weather_data[['time','temp','wspd','station_id']]

                        time  temp  wspd station_id
0        2022-04-23 14:00:00  15.0  15.0      Q5MJ7
1        2022-04-23 15:00:00  16.0  22.0      Q5MJ7
2        2022-04-23 16:00:00  17.0  17.0      Q5MJ7
3        2022-04-23 17:00:00  17.0  20.0      Q5MJ7
4        2022-04-23 18:00:00  20.0  20.0      Q5MJ7
...                      ...   ...   ...        ...
1415102  2024-11-11 19:00:00   9.4   0.0      72597
1415103  2024-11-11 20:00:00  10.6   5.4      72597
1415104  2024-11-11 21:00:00  10.0   0.0      72597
1415105  2024-11-11 22:00:00  10.0   9.4      72597
1415106  2024-11-11 23:00:00  11.0  11.0      72597

[1415107 rows x 4 columns]

## Gas

In [167]:
gas_price=gas_price[['Time','Price']]

                              Time  Price
0        2022-01-01 00:00:00-08:00   3.94
1        2022-01-01 01:00:00-08:00   3.94
2        2022-01-01 02:00:00-08:00   3.94
3        2022-01-01 03:00:00-08:00   3.94
4        2022-01-01 04:00:00-08:00   3.94
...                            ...    ...
1787574  2024-11-10 19:00:00-08:00  -1.38
1787575  2024-11-10 20:00:00-08:00  -1.38
1787576  2024-11-10 21:00:00-08:00  -1.38
1787577  2024-11-10 22:00:00-08:00  -1.38
1787578  2024-11-10 23:00:00-08:00  -1.38

[1787579 rows x 2 columns]

## LMP

In [5]:
# LMP_data=LMP_data_1[['Time','LMP','Location']]
LMP_data=LMP_data_full[['Time','LMP','Location']]

                               Time       LMP        Location
0         2022-01-01 00:00:00-08:00  59.52582  ALAMOSC_7_N001
1         2022-01-01 00:15:00-08:00  59.61827  ALAMOSC_7_N001
2         2022-01-01 00:30:00-08:00  59.41798  ALAMOSC_7_N001
3         2022-01-01 00:45:00-08:00  59.00465  ALAMOSC_7_N001
4         2022-01-01 01:00:00-08:00  58.16824  ALAMOSC_7_N001
...                             ...       ...             ...
17633367  2024-11-10 22:45:00-08:00  39.11280   ZAMORA_1_N001
17633368  2024-11-10 23:00:00-08:00  39.64508   ZAMORA_1_N001
17633369  2024-11-10 23:15:00-08:00  39.11023   ZAMORA_1_N001
17633370  2024-11-10 23:30:00-08:00  38.80770   ZAMORA_1_N001
17633371  2024-11-10 23:45:00-08:00  38.12094   ZAMORA_1_N001

[17633372 rows x 3 columns]

### load

In [ ]:
load=load[['Time','Load']]

### grid_mix

In [ ]:
grid_mix=grid_mix[['Time','Solar','Wind','Geothermal','Biomass','Biogas','Small Hydro','Coal','Nuclear','Natural Gas','Large Hydro','Batteries','Imports']]

### node i5_short

In [ ]:
node_i5_short=nodes_i5_short[['node_id','area']]

# Start joining data with node_id (location)

### join LMP and weather station

In [163]:
LMP_weather_station=pd.merge(LMP_data, weather_stations, left_on='Location', right_on='node_id', how='inner')

In [164]:
LMP_weather_station['Time'] = pd.to_datetime(LMP_weather_station['Time'], utc=True).dt.tz_convert(None)

LMP_weather_station['Time'] = LMP_weather_station['Time'].dt.floor('H')

LMP_hourly_avg = LMP_weather_station.groupby(['Time', 'Location', 'weather station', 'node_id'])['LMP'].mean().reset_index()
LMP_hourly_avg

,Time,Location,weather station,node_id,LMP
0,2022-01-01 08:00:00,ALAMOSC_7_N001,72483,ALAMOSC_7_N001,59.391680
1,2022-01-01 08:00:00,ANDERSON_6_N001,72592,ANDERSON_6_N001,61.154410
2,2022-01-01 08:00:00,ANTLER_6_N001,KO860,ANTLER_6_N001,62.468227
3,2022-01-01 08:00:00,ARBUCKLE_6_N001,KMYV0,ARBUCKLE_6_N001,61.243918
4,2022-01-01 08:00:00,ATW_SUB_LNODEONB,KCQT0,ATW_SUB_LNODEONB,60.622900
...,...,...,...,...,...
4408340,2024-11-11 07:00:00,YREKA_LNODE76,K1O50,YREKA_LNODE76,33.466035
4408341,2024-11-11 07:00:00,YREKA_LNODED1,K1O50,YREKA_LNODED1,33.494940
4408342,2024-11-11 07:00:00,YREKA_LNODED2,K1O50,YREKA_LNODED2,33.494940
4408343,2024-11-11 07:00:00,YREKA_LNODED3,K1O50,YREKA_LNODED3,33.494940
4408344,2024-11-11 07:00:00,ZAMORA_1_N001,KDWA0,ZAMORA_1_N001,38.920987

### join LMP_weather station and weather_data

In [168]:
LMP_hourly_avg['Time'] = pd.to_datetime(LMP_hourly_avg['Time'])
weather_data['time'] = pd.to_datetime(weather_data['time'])

merged_data = pd.merge(
    LMP_hourly_avg, weather_data, 
    left_on=['Time', 'weather station'], 
    right_on=['time', 'station_id'], 
    how='inner'
)
merged_data

/var/folders/3v/lhv9vlyj6192ss8g534c279r0000gn/T/ipykernel_29993/4116681965.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_data['time'] = pd.to_datetime(weather_data['time'])

,Time,Location,weather station,node_id,LMP,time,temp,wspd,station_id
0,2022-01-01 08:00:00,ALAMOSC_7_N001,72483,ALAMOSC_7_N001,59.391680,2022-01-01 08:00:00,3.3,9.4,72483
1,2022-01-01 08:00:00,BLUSTNPP_6_N003,72483,BLUSTNPP_6_N003,61.552835,2022-01-01 08:00:00,3.3,9.4,72483
2,2022-01-01 08:00:00,BRKRSLG_1_N005,72483,BRKRSLG_1_N005,62.913868,2022-01-01 08:00:00,3.3,9.4,72483
3,2022-01-01 08:00:00,CIG_GNODEPKR,72483,CIG_GNODEPKR,62.078218,2022-01-01 08:00:00,3.3,9.4,72483
4,2022-01-01 08:00:00,CORDPMP_6_N003,72483,CORDPMP_6_N003,62.424523,2022-01-01 08:00:00,3.3,9.4,72483
...,...,...,...,...,...,...,...,...,...
3774956,2024-11-11 07:00:00,SANYSDRO_6_N004,KSDM0,SANYSDRO_6_N004,40.357710,2024-11-11 07:00:00,8.0,11.2,KSDM0
3774957,2024-11-11 07:00:00,TOL_SUB_LNODEONA,72288,TOL_SUB_LNODEONA,40.719517,2024-11-11 07:00:00,12.8,0.0,72288
3774958,2024-11-11 07:00:00,TOL_SUB_LNODEONB,72288,TOL_SUB_LNODEONB,40.630617,2024-11-11 07:00:00,12.8,0.0,72288
3774959,2024-11-11 07:00:00,TOL_SUB_LNODEONC,72288,TOL_SUB_LNODEONC,40.678280,2024-11-11 07:00:00,12.8,0.0,72288
3774960,2024-11-11 07:00:00,TOL_SUB_LNODEOND,72288,TOL_SUB_LNODEOND,40.638100,2024-11-11 07:00:00,12.8,0.0,72288

## join gas, storage, grid_mix, load join, and demand forcast

In [173]:
gas_storage=pd.merge(
    gas_price, storage, 
    left_on=['Time'], 
    right_on=['Time'], 
    how='inner')

In [174]:

gas_storage_grid=pd.merge(
    gas_storage, grid_mix, 
    left_on=['Time'],
    right_on=['Time'], 
    how='inner')

In [175]:

gas_storage_grid_load=pd.merge(
    gas_storage_grid, load, 
    left_on=['Time'],
    right_on=['Time'], 
    how='inner')

gas_storage_grid_load

,Time,Price,Stand-alone Batteries,Solar,Wind,Geothermal,Biomass,Biogas,Small Hydro,Coal,Nuclear,Natural Gas,Large Hydro,Batteries,Imports,Load
0,2023-02-01 00:00:00-08:00,3.07,-272,-11.0,600.0,956.0,265.0,214.0,231.0,5.0,2261.0,13693.0,1698.0,-286.0,3654.0,22301.0
1,2023-02-01 00:00:00-08:00,10.56,-272,-11.0,600.0,956.0,265.0,214.0,231.0,5.0,2261.0,13693.0,1698.0,-286.0,3654.0,22301.0
2,2023-02-01 00:00:00-08:00,3.10,-272,-11.0,600.0,956.0,265.0,214.0,231.0,5.0,2261.0,13693.0,1698.0,-286.0,3654.0,22301.0
3,2023-02-01 00:00:00-08:00,12.11,-272,-11.0,600.0,956.0,265.0,214.0,231.0,5.0,2261.0,13693.0,1698.0,-286.0,3654.0,22301.0
4,2023-02-01 00:00:00-08:00,12.06,-272,-11.0,600.0,956.0,265.0,214.0,231.0,5.0,2261.0,13693.0,1698.0,-286.0,3654.0,22301.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1037783,2024-11-10 23:00:00-08:00,1.25,593,-52.0,784.0,704.0,207.0,159.0,168.0,-1.0,2262.0,9787.0,1669.0,648.0,5943.0,22031.0
1037784,2024-11-10 23:00:00-08:00,-1.53,593,-52.0,784.0,704.0,207.0,159.0,168.0,-1.0,2262.0,9787.0,1669.0,648.0,5943.0,22031.0
1037785,2024-11-10 23:00:00-08:00,-1.38,593,-52.0,784.0,704.0,207.0,159.0,168.0,-1.0,2262.0,9787.0,1669.0,648.0,5943.0,22031.0
1037786,2024-11-10 23:00:00-08:00,-1.45,593,-52.0,784.0,704.0,207.0,159.0,168.0,-1.0,2262.0,9787.0,1669.0,648.0,5943.0,22031.0
1037787,2024-11-10 23:00:00-08:00,-1.38,593,-52.0,784.0,704.0,207.0,159.0,168.0,-1.0,2262.0,9787.0,1669.0,648.0,5943.0,22031.0

In [176]:
gas_storage_grid_load['Time'] = pd.to_datetime(gas_storage_grid_load['Time'], utc=True).dt.tz_convert(None)
gas_storage_grid_load['Time'] = gas_storage_grid_load['Time'].dt.floor('H')
gas_storage_grid_load_hourly_avg = gas_storage_grid_load.groupby(['Time']).mean().reset_index()

,Time,Price,Stand-alone Batteries,Solar,Wind,Geothermal,Biomass,Biogas,Small Hydro,Coal,Nuclear,Natural Gas,Large Hydro,Batteries,Imports,Load
0,2023-02-01 08:00:00,12.230327,-272.0,-11.0,600.0,956.0,265.0,214.0,231.0,5.0,2261.0,13693.0,1698.0,-286.0,3654.0,22301.0
1,2023-02-01 09:00:00,12.230327,-418.0,-11.0,625.0,957.0,260.0,213.0,210.0,4.0,2263.0,12128.0,1009.0,-418.0,6142.0,21965.0
2,2023-02-01 10:00:00,12.230327,-664.0,-10.0,647.0,959.0,258.0,211.0,205.0,4.0,2262.0,12464.0,686.0,-700.0,6311.0,21428.0
3,2023-02-01 11:00:00,12.230327,-471.0,-11.0,559.0,957.0,257.0,210.0,202.0,4.0,2261.0,12195.0,674.0,-500.0,5970.0,21175.0
4,2023-02-01 12:00:00,12.230327,-234.0,-11.0,556.0,925.0,261.0,211.0,204.0,4.0,2261.0,11971.0,765.0,-252.0,5702.0,21301.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5888,2024-11-11 03:00:00,2.102567,2972.0,-34.0,516.0,753.0,212.0,160.0,159.0,-1.0,2264.0,10111.0,2016.0,3333.0,5609.0,24995.0
5889,2024-11-11 04:00:00,2.102567,2957.0,-34.0,599.0,736.0,213.0,159.0,158.0,-1.0,2262.0,9957.0,1886.0,3321.0,5220.0,24431.0
5890,2024-11-11 05:00:00,2.102567,2675.0,-33.0,652.0,707.0,213.0,159.0,169.0,-1.0,2263.0,10154.0,1834.0,2848.0,4939.0,23793.0
5891,2024-11-11 06:00:00,2.102567,1706.0,-51.0,691.0,702.0,208.0,159.0,170.0,-1.0,2262.0,10107.0,1748.0,1844.0,5448.0,23126.0
5892,2024-11-11 07:00:00,2.102567,593.0,-52.0,784.0,704.0,207.0,159.0,168.0,-1.0,2262.0,9787.0,1669.0,648.0,5943.0,22031.0

## join demand with node_i5_short to assign node_id

In [177]:
demand_forecast_hourly_avg = demand_forecast.groupby(['Time','TAC_AREA_NAME']).mean().reset_index()
demand_forecast_hourly_avg

                      Time TAC_AREA_NAME       MW
0      2022-01-01 08:00:00          AZPS  2844.19
1      2022-01-01 08:00:00          BANC  1638.79
2      2022-01-01 08:00:00       BANCMID   225.10
3      2022-01-01 08:00:00      BANCRDNG    99.03
4      2022-01-01 08:00:00      BANCRSVL   110.11
...                    ...           ...      ...
333000 2024-11-11 07:00:00          TPWR   433.47
333001 2024-11-11 07:00:00       VEA-TAC    49.99
333002 2024-11-11 07:00:00          WALC   466.46
333003 2024-11-11 07:00:00     WALCAEPCO   332.17
333004 2024-11-11 07:00:00       WALCDSW   134.29

[333005 rows x 3 columns]

In [178]:
demand_node=pd.merge(demand_forecast_hourly_avg,node_i5_short, left_on='TAC_AREA_NAME', right_on='area', how='inner')

In [179]:
demand_node['node_id'].unique().size

404

## join Gas_storage_grid_load and demand_node_i5_short

In [181]:
gas_stoage_grid_load_demand_node=pd.merge(gas_storage_grid_load_hourly_avg,demand_node, left_on='Time', right_on='Time', how='inner')
gas_stoage_grid_load_demand_node=gas_stoage_grid_load_demand_node.drop(columns=['TAC_AREA_NAME'])

In [223]:
gas_stoage_grid_load_demand_node['node_id'].unique().size

404

In [222]:
merged_data['node_id'].unique().size

350

In [224]:
unique_df1 = set(gas_stoage_grid_load_demand_node['node_id'].unique())
unique_df2 = set(merged_data['node_id'].unique())

intersection = unique_df1.intersection(unique_df2)

print("Number of overlapping unique values:", len(intersection))
print("Overlapping values:", intersection)

Number of overlapping unique values: 350
Overlapping values: {'BARRE_2_N043', 'NUTGLADE_LNODE', 'CTRPKGEN_7_B1', 'HAMMONDS_1_N001', 'RAMCOOY_7_B1', 'FRIARS_1_N001', 'LYOTH-SP_6_N001', 'VEL_SUB_LNODEONA', 'SONOFR3_7_B1', 'SANYSDRO_6_N013', 'ELKHIL3G_7_B1', 'SANLUSRY_6_N101', 'VAL_GS_LNODE8AUX', 'WARNE2_7_B1', 'HIGHWND3_7_GN001', 'ENCNITAS_6_N011', 'CIG_GNODEPKR', 'FIFTHS_7_N002', 'EASTGATE_6_N101', 'TOREYPNS_6_N001', 'ENCNITAS_6_N001', 'TOL_SUB_LNODEONA', 'CAS_PP_LNODE1AUX', 'MKT_SUB_LNODEONB', 'POLPASPP_6_N002', 'NATNLCTY_6_N001', 'MESACAL_6_N004', 'BARPKGEN_7_B1', 'SANMATEO_1_N009', 'STJ_SUB_LNODEONB', 'GERBER_6_N101', 'LAJOLLA_6_N001', 'OTAY_6_N001', 'ELK_GNODEPTP', 'VIERRA_1_N001', 'RSM_SUB_LNODEONC', 'VAL_GS_GNODE8', 'CAS_PP_LNODE3AUX', 'LOGANCR_2_N001', 'WSTLD1RA_1_N001', 'VAL_GS_GNODE6', 'RAWSON_6_N001', 'MESARIM_6_N012', 'ROSE_6_N001', 'TERMNOUS_6_N001', 'STANTNG1_7_N001', 'SANLUSRY_6_N013', 'NATNLCTY_6_N005', 'SANLUSRY_6_N014', 'CAS_LA_LNODESMW', 'RSM_SUB_LNODEOND', 'WESTLANE_6_N001', 'OXFORD_1_N001', 'NOISLMTR_6_N101', 'STKTONA_1_N001', 'STUART_6_N001', 'MKT_SUB_LNODEOND', 'HARDING_6_N001', 'TOL_SUB_LNODEOND', 'BATIQTOS_1_N015', 'WOODLD_1_N012', 'EASTGATE_6_N201', 'DOGCREEK_LNODE', 'MESAHGTS_6_N007', 'IMPRLBCH_6_N004', 'RIN_SUB_LNODEONC', 'WOODLD_1_N001', 'JOHANNA_6_N06', 'NEENACH_6_N008', 'LAJOLLA_6_N007', 'BANTA_6_N001', 'CAS_PP_GNODE6', 'DSAMIGO_2_N011', 'VAL_GS_LNODE5AUX', 'DEEPWATR_1_N104', 'JAPMESA_6_N001', 'TECUYA_6_N001', 'NEORBLF_7_B1', 'VEL_SUB_LNODEONC', 'MRGT_6_NODE1', 'F_6_N002', 'CENTERS_6_N008', 'OREGNTRL_1_N001', 'CAS_PP_LNODE5AUX', 'ROGH-RDY_6_N001', 'KETTNER_6_N001', 'BARRE_6_N001', 'POINTLMA_6_N021', 'POINTLMA_6_N001', 'PICO_1_N004', 'OCEANSDE_6_N001', 'CLARMNT_1_N001', 'DELAMO_2_N051', 'URBAN_6_N001', 'LODICTG_7_B1', 'CAS_PP_GNODE2', 'COGNTNL_7_B1', 'ATW_SUB_LNODEONB', 'STKTONA_1_N003', 'VAL_GS_GNODE7', 'OIGLASS_1_N001', 'CASCES_7_N008', 'MDWYPS_6_N001', 'ORLANDB_6_N001', 'TEJON_6_N001', 'CAS_PP_LNODE6AUX', 'SMPSN-AN_7_B1', 'BLM W_2_COSBT1GN', 'SONOFR2_7_B1', 'CASTELLA_LNODE', 'WOODLD_1_N005', 'CABRILLO_6_N011', 'DUNNIGAN_6_N001', 'RSM_SUB_LNODEONB', 'JOHANNA_6_N04', 'VEL_SUB_LNODEONB', 'GENESEE_6_N015', 'JESSUP_1_GN001', 'WHELRGPP_2_N004', 'MKT_SUB_LNODEONA', 'CORONA_1_N001', 'CLAMMNA_1_N001', 'WILLIAMS_6_N002', 'SHOTGUNC_LNODE', 'REDBLFF_6_N001', 'UCM_6_N110', 'ATW_SUB_LNODEOND', 'CRANEVLY_6_N003', 'GANSO_1_N001', 'WEED_LNODER1', 'PACFCBCH_6_N001', 'TOL_SUB_LNODEONC', 'CORNING_6_N102', 'TOREYPNS_6_N009', 'CNTRYCB_6_N002', 'VERNON_6_N005', 'DIVISION_6_N009', 'ENCNITAS_6_N004', 'PALOMAR_1_N004', 'CABRILLO_6_N004', 'ARBUCKLE_6_N001', 'VAL_GS_GNODE5', 'CORONADO_6_N002', 'DELMAR_6_N010', 'NDUNSMUI_LNODE9', 'REDBLFF_6_N005', 'STLLWATR_6_N001', 'ELKHIL2G_7_B2', 'MOTT_LNODE', 'TRACY_1_N002', 'VAL_LNODELSS', 'S621AC_7_N001', 'B_6_N001', 'TEICHERT_1_N001', 'BLUSTNPP_6_N003', 'DIVISION_6_N001', 'CAS_PP_GNODE5', 'JOHANNA_2_N007', 'DELAMO_2_N050', 'CRCANAL_6_N001', 'SAFEWAY_1_N001', 'LAGUBELL_6_N001', 'MONTGMRY_6_N001', 'IMPRLBCH_6_N001', 'OLDRIVR_6_N001', 'MESAHGTS_6_N011', 'STJ_SUB_LNODEONC', 'ALAMOSC_7_N001', 'WINDGAP_2_N003', 'CORNING_6_N004', 'EIGHTMI_2_N017', 'NORCO_1_N001', 'WESTLNDS_1_N019', 'BNTACRB_6_N001', 'TOREYPNS_6_N007', 'OTAY_6_N014', 'NDUNSMUI_LNODE7', 'MONTGMRY_6_N002', 'MESAHGTS_6_N001', 'FRIARS_1_N009', 'SAMPSON_6_N010', 'STKTONA_6_N001', 'STKTONA_6_N004', 'WESTLNDS_1_N001', 'CHANNEL_6_N001', 'SANLUSRY_6_N201', 'JOHANNA_2_N001', 'BATIQTOS_1_N008', 'URBAN_6_N005', 'MESARIM_6_N001', 'ENCINA_1_N001', 'GENESEE_6_N005', 'SDUNSMUI_LNODE', 'CAS_PP_LNODE2AUX', 'CAS_PP_GNODE3', 'B_6_N003', 'RSNTAFE_6_N009', 'LODISTG_7_B1', 'ANTLER_6_N001', 'GIRVAN_6_N001', 'WARNE1_7_B1', 'RIN_SUB_LNODEONA', 'KNA_LNODENA2', 'CORDPMP_6_N003', 'LAGUBELL_6_N210', 'JOHANNA_6_N05', 'RFP_NODET', 'GENESEE_6_N011', 'CAS_PP_GNODE7', 'RAWSON_6_N002', 'DEEPWATR_1_N101', 'SONOFRE_2_N067', 'OREGNTRL_6_N001', 'UCM_6_N006', 'LEPRINO_1_N001', 'TWISSLMN_6_N005', 'BARRE_6_N002', 'WADHAM_7_B1', 'DGPAN1_7_B1', 'ENCINA_1_N049', 'TRACY_1_N001', 'CNTRYCB_6_N006', 'EASTGATE_6_N004', 'CABRILLO_1_N001', 'UCM_6_N001', 'VAL_GS_LNODE6AUX', 'MESACAL_6_N001', 'CAS_PP_GNODE1', 'CAS_PP_LNODE4AUX', 'TUPMAN_1_N102', 'PACFCBCH_6_N004', 'TOREYPNS_6_N008', 'STAGG_2_N014', 'F_6_N001', 'OLDRIVR_6_N007', 'SANYSDRO_6_N004', 'MKT_SUB_LNODEONC', 'CNTRYCB_6_N004', 'ROSECYN_6_N001', 'CENTERS_6_N004', 'DUNHILL_6_N001', 'GENESEE_6_N001', 'MISSON_1_N015', 'STD_GNODER', 'MISSION_6_N040', 'HAMMER_6_N004', 'TYLER_6_N001', 'MISSION_6_N049', 'REDBLFF_6_N004', 'MISSION_6_N001', 'POINTLMA_6_N014', 'NOISLMTR_6_N004', 'KAMM_1_N001', 'LASPULGS_6_N001', 'CANTGEN_7_N002', 'MIDWAY_1_N047', 'WSCRMNO_1_N013', 'ELK_GNODEESC', 'PALOMAR_1_N001', 'KETTLEMN_6_N001', 'WHDPAN2_7_N102', 'TYLER_6_N002', 'STIGCC_7_B1', 'WEBER_6_N001', 'NAVSTMTR_6_N011', 'WSCRMNO_1_N004', 'NAVSTMTR_6_N001', 'STJ_SUB_LNODEOND', 'DELMAR_6_N011', 'OLDTOWN_6_N001', 'WHEELER_6_N001', 'OCEANSDE_6_N002', 'CLARMNT_1_N028', 'INTERNAT_LNODELD', 'POINTLMA_6_N013', 'PICO_1_N001', 'FRITOLAY_7_N002', 'F_6_N005', 'VILLAPK_2_N028', 'LASPLGS_6_N001', 'CABRILLO_6_N001', 'CPCSTCN_7_B1', 'CLAIRMNT_6_N008', 'MESARIM_6_N008', 'NOISLMTR_6_N009', 'MIDWAY_1_N002', 'TOL_SUB_LNODEONB', 'WOODLAND_7_B1', 'JESSUP_1_N001', 'BRKRSLG_1_N005', 'JAPMESA_6_N007', 'WILLIAMS_7_N001', 'STAGG_2_N001', 'ELKHIL1G_7_B2', 'HARDING_6_N004', 'RIN_SUB_LNODEONB', 'ATW_SUB_LNODEONC', 'PALOMAR_1_N013', 'MESARIM_6_N007', 'B_6_N005', 'UCM_6_N002', 'FIFTHS_7_N003', 'CENTERS_6_N001', 'STAGG_6_N003', 'VAL_GS_LNODE7AUX', 'PANRAMA_1_N001', 'TUPMAN_1_N101', 'ROSECYN_6_N017', 'ELK_GNODEBRU', 'MISSION_2_N035', 'B_6_N007', 'HAMMER_6_N003', 'LAKEVIEW_6_N101', 'CAS_PP_GNODE4', 'CENTERS_6_N200', 'LAGUBELL_6_N005', 'WSCRMNO_1_N201', 'STANTNG2_7_N002', 'STCKTNAR_6_N001', 'CNTRYCB_6_N001', 'BARRE_6_N003', 'TLRELKE_6_N001', 'GOSELKE_1_N001', 'JOANEC_7_NBT3', 'TRACY_1_N101', 'ZAMORA_1_N001', 'SANYSDRO_6_N001', 'CORONADO_6_N001', 'SWEETWTR_6_N018', 'BATIQTOS_1_N001', 'LOGANCR_2_N010', 'SWEETWTR_6_N017', 'BAILYJ1_1_N010', 'MISSION_6_N031', 'ANDERSON_6_N001', 'GORMAN_6_N001', 'HAMMER_6_N001', 'CORNING_6_N006', 'JOHANNA_2_N013', 'OTAYLAKE_6_N001', 'Q189GN1_7_N001', 'WILLOWS_6_N001', 'NOISLMTR_6_N015', 'WHEELBR1_7_B1', 'STAGG_6_N001', 'VERNON_6_N006', 'SOUTHBY_6_N001', 'S621AC_7_N002', 'JOHANNA_6_N07', 'UCD_GNODEPL'}

## join LMP_weather station_weather_data to as_storage_grid_load_demand_node_i5_short

In [185]:
data_set=pd.merge(
    merged_data, 
    gas_stoage_grid_load_demand_node, 
    on=['Time', 'node_id'],  
    how='inner'  
)
data_set['Hour'] = pd.to_datetime(data_set['Time']).dt.hour

In [186]:
data=data_set.drop(columns=['time','area','weather station','station_id','Location'])

In [187]:
data.set_index('Time', inplace=True)

In [188]:
data.to_csv('LMP_data.csv', index=True)

In [189]:
data.columns

Index(['node_id', 'LMP', 'temp', 'wspd', 'Price', 'Stand-alone Batteries',
       'Solar', 'Wind', 'Geothermal', 'Biomass', 'Biogas', 'Small Hydro',
       'Coal', 'Nuclear', 'Natural Gas', 'Large Hydro', 'Batteries', 'Imports',
       'Load', 'MW', 'Hour'],
      dtype='object')

In [190]:
data=pd.read_csv("/Users/heewonahn/school_work/STA221/LMP_data.csv")
data

,Time,node_id,LMP,temp,wspd,Price,Stand-alone Batteries,Solar,Wind,Geothermal,...,Small Hydro,Coal,Nuclear,Natural Gas,Large Hydro,Batteries,Imports,Load,MW,Hour
0,2023-02-01 08:00:00,ALAMOSC_7_N001,100.696770,3.9,5.4,12.230327,-272.0,-11.0,600.0,956.0,...,231.0,5.0,2261.0,13693.0,1698.0,-286.0,3654.0,22301.0,22611.49,8
1,2023-02-01 08:00:00,BLUSTNPP_6_N003,100.972010,3.9,5.4,12.230327,-272.0,-11.0,600.0,956.0,...,231.0,5.0,2261.0,13693.0,1698.0,-286.0,3654.0,22301.0,22611.49,8
2,2023-02-01 08:00:00,BRKRSLG_1_N005,101.618422,3.9,5.4,12.230327,-272.0,-11.0,600.0,956.0,...,231.0,5.0,2261.0,13693.0,1698.0,-286.0,3654.0,22301.0,22611.49,8
3,2023-02-01 08:00:00,CIG_GNODEPKR,102.679105,3.9,5.4,12.230327,-272.0,-11.0,600.0,956.0,...,231.0,5.0,2261.0,13693.0,1698.0,-286.0,3654.0,22301.0,1556.38,8
4,2023-02-01 08:00:00,CORDPMP_6_N003,101.808870,3.9,5.4,12.230327,-272.0,-11.0,600.0,956.0,...,231.0,5.0,2261.0,13693.0,1698.0,-286.0,3654.0,22301.0,22611.49,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2062545,2024-11-11 07:00:00,SANYSDRO_6_N004,40.357710,8.0,11.2,2.102567,593.0,-52.0,784.0,704.0,...,168.0,-1.0,2262.0,9787.0,1669.0,648.0,5943.0,22031.0,21265.24,7
2062546,2024-11-11 07:00:00,TOL_SUB_LNODEONA,40.719517,12.8,0.0,2.102567,593.0,-52.0,784.0,704.0,...,168.0,-1.0,2262.0,9787.0,1669.0,648.0,5943.0,22031.0,2191.67,7
2062547,2024-11-11 07:00:00,TOL_SUB_LNODEONB,40.630617,12.8,0.0,2.102567,593.0,-52.0,784.0,704.0,...,168.0,-1.0,2262.0,9787.0,1669.0,648.0,5943.0,22031.0,2191.67,7
2062548,2024-11-11 07:00:00,TOL_SUB_LNODEONC,40.678280,12.8,0.0,2.102567,593.0,-52.0,784.0,704.0,...,168.0,-1.0,2262.0,9787.0,1669.0,648.0,5943.0,22031.0,2191.67,7
2062549,2024-11-11 07:00:00,TOL_SUB_LNODEOND,40.638100,12.8,0.0,2.102567,593.0,-52.0,784.0,704.0,...,168.0,-1.0,2262.0,9787.0,1669.0,648.0,5943.0,22031.0,2191.67,7

In [191]:
data['node_id'].unique()

array(['ALAMOSC_7_N001', 'BLUSTNPP_6_N003', 'BRKRSLG_1_N005',
       'CIG_GNODEPKR', 'CORDPMP_6_N003', 'DEEPWATR_1_N101',
       'DEEPWATR_1_N104', 'ELK_GNODEBRU', 'ELK_GNODEESC', 'ELK_GNODEPTP',
       'POLPASPP_6_N002', 'SOUTHBY_6_N001', 'STD_GNODER', 'UCD_GNODEPL',
       'WSCRMNO_1_N004', 'WSCRMNO_1_N013', 'WSCRMNO_1_N201',
       'ANDERSON_6_N001', 'GIRVAN_6_N001', 'JESSUP_1_GN001',
       'JESSUP_1_N001', 'KNA_LNODENA2', 'OREGNTRL_1_N001',
       'OREGNTRL_6_N001', 'PANRAMA_1_N001', 'SMPSN-AN_7_B1',
       'STLLWATR_6_N001', 'WHEELBR1_7_B1', 'ANTLER_6_N001',
       'DOGCREEK_LNODE', 'SHOTGUNC_LNODE', 'ARBUCKLE_6_N001',
       'WADHAM_7_B1', 'WILLIAMS_6_N002', 'WILLIAMS_7_N001',
       'ATW_SUB_LNODEONB', 'ATW_SUB_LNODEONC', 'ATW_SUB_LNODEOND',
       'LAGUBELL_6_N001', 'LAGUBELL_6_N005', 'LAGUBELL_6_N210',
       'MKT_SUB_LNODEONA', 'MKT_SUB_LNODEONB', 'MKT_SUB_LNODEONC',
       'MKT_SUB_LNODEOND', 'STJ_SUB_LNODEONB', 'STJ_SUB_LNODEONC',
       'STJ_SUB_LNODEOND', 'VEL_SUB_LNODEONA', 'VEL_SUB_LNODEONB',
       'VEL_SUB_LNODEONC', 'VERNON_6_N005', 'VERNON_6_N006',
       'BAILYJ1_1_N010', 'CAS_LA_LNODESMW', 'CAS_PP_GNODE1',
       'CAS_PP_GNODE2', 'CAS_PP_GNODE3', 'CAS_PP_GNODE4', 'CAS_PP_GNODE5',
       'CAS_PP_GNODE6', 'CAS_PP_GNODE7', 'CAS_PP_LNODE1AUX',
       'CAS_PP_LNODE2AUX', 'CAS_PP_LNODE3AUX', 'CAS_PP_LNODE4AUX',
       'CAS_PP_LNODE5AUX', 'CAS_PP_LNODE6AUX', 'GORMAN_6_N001',
       'TECUYA_6_N001', 'TEJON_6_N001', 'WARNE1_7_B1', 'WARNE2_7_B1',
       'WINDGAP_2_N003', 'BANTA_6_N001', 'BNTACRB_6_N001',
       'LEPRINO_1_N001', 'LYOTH-SP_6_N001', 'OIGLASS_1_N001',
       'SAFEWAY_1_N001', 'TEICHERT_1_N001', 'TRACY_1_N001',
       'TRACY_1_N002', 'TRACY_1_N101', 'BARPKGEN_7_B1', 'BARRE_2_N043',
       'BARRE_6_N001', 'BARRE_6_N002', 'BARRE_6_N003', 'STANTNG1_7_N001',
       'STANTNG2_7_N002', 'BATIQTOS_1_N001', 'BATIQTOS_1_N008',
       'BATIQTOS_1_N015', 'BLM W_2_COSBT1GN', 'ENCINA_1_N001',
       'ENCINA_1_N049', 'ENCNITAS_6_N001', 'ENCNITAS_6_N004',
       'ENCNITAS_6_N011', 'PALOMAR_1_N001', 'PALOMAR_1_N004',
       'PALOMAR_1_N013', 'Q189GN1_7_N001', 'RSNTAFE_6_N009', 'B_6_N001',
       'B_6_N003', 'B_6_N005', 'B_6_N007', 'CABRILLO_1_N001',
       'CABRILLO_6_N001', 'CABRILLO_6_N004', 'CABRILLO_6_N011',
       'CORONADO_6_N001', 'CORONADO_6_N002', 'CORONA_1_N001',
       'DIVISION_6_N001', 'DIVISION_6_N009', 'FRIARS_1_N001',
       'FRIARS_1_N009', 'F_6_N001', 'F_6_N002', 'F_6_N005',
       'KETTNER_6_N001', 'MISSION_2_N035', 'MISSION_6_N001',
       'MISSION_6_N031', 'MISSION_6_N040', 'MISSION_6_N049',
       'MISSON_1_N015', 'NATNLCTY_6_N001', 'NATNLCTY_6_N005',
       'NAVSTMTR_6_N001', 'NAVSTMTR_6_N011', 'NOISLMTR_6_N004',
       'NOISLMTR_6_N009', 'NOISLMTR_6_N015', 'NOISLMTR_6_N101',
       'OLDTOWN_6_N001', 'PACFCBCH_6_N001', 'PACFCBCH_6_N004',
       'POINTLMA_6_N001', 'POINTLMA_6_N013', 'POINTLMA_6_N014',
       'POINTLMA_6_N021', 'SAMPSON_6_N010', 'URBAN_6_N001',
       'URBAN_6_N005', 'CANTGEN_7_N002', 'FIFTHS_7_N002', 'FIFTHS_7_N003',
       'KAMM_1_N001', 'KETTLEMN_6_N001', 'TLRELKE_6_N001',
       'WESTLNDS_1_N001', 'WESTLNDS_1_N019', 'CASCES_7_N008',
       'CHANNEL_6_N001', 'CLAMMNA_1_N001', 'CNTRYCB_6_N001',
       'CNTRYCB_6_N002', 'CNTRYCB_6_N004', 'CNTRYCB_6_N006',
       'COGNTNL_7_B1', 'CPCSTCN_7_B1', 'EIGHTMI_2_N017', 'HAMMER_6_N001',
       'HAMMER_6_N003', 'HAMMER_6_N004', 'HARDING_6_N001',
       'HARDING_6_N004', 'LODICTG_7_B1', 'LODISTG_7_B1',
       'ROGH-RDY_6_N001', 'STAGG_2_N001', 'STAGG_2_N014', 'STAGG_6_N001',
       'STAGG_6_N003', 'STCKTNAR_6_N001', 'STIGCC_7_B1', 'STKTONA_1_N001',
       'STKTONA_1_N003', 'STKTONA_6_N001', 'STKTONA_6_N004',
       'TERMNOUS_6_N001', 'VIERRA_1_N001', 'WEBER_6_N001',
       'WESTLANE_6_N001', 'CASTELLA_LNODE', 'INTERNAT_LNODELD',
       'MOTT_LNODE', 'NDUNSMUI_LNODE7', 'NDUNSMUI_LNODE9',
       'NUTGLADE_LNODE', 'RFP_NODET', 'SDUNSMUI_LNODE', 'WEED_LNODER1',
       'CENTERS_6_N001', 'CENTERS_6_N004', 'CENTERS_6_N200',
       'CTRPKGEN_7_B1', 'CENTERS_6_N008', 'MESACAL_6_N001',
       'MESACAL_6_N004', 'CLAIRMNT_6_N008', 'CLARMNT_1_N001',
       'CLARMNT_1_N028', 'DELMAR_6_N010', 'DELMAR_6_N011',
       'DUNHILL_6_N001', 'EASTGATE_6_N004', 'EASTGATE_6_N101',
       'EASTGATE_6_N201', 'GENESEE_6_N001', 'GENESEE_6_N005',
       'GENESEE_6_N011', 'GENESEE_6_N015', 'LAJOLLA_6_N001',
       'LAJOLLA_6_N007', 'MESAHGTS_6_N001', 'MESAHGTS_6_N007',
       'MESAHGTS_6_N011', 'MESARIM_6_N001', 'MESARIM_6_N007',
       'MESARIM_6_N008', 'MESARIM_6_N012', 'MRGT_6_NODE1',
       'ROSECYN_6_N001', 'ROSECYN_6_N017', 'ROSE_6_N001',
       'TOREYPNS_6_N001', 'TOREYPNS_6_N007', 'TOREYPNS_6_N008',
       'TOREYPNS_6_N009', 'UCM_6_N001', 'UCM_6_N002', 'UCM_6_N006',
       'UCM_6_N110', 'CORNING_6_N004', 'CORNING_6_N006', 'CORNING_6_N102',
       'CRCANAL_6_N001', 'GERBER_6_N101', 'NEORBLF_7_B1', 'RAWSON_6_N001',
       'RAWSON_6_N002', 'REDBLFF_6_N001', 'REDBLFF_6_N004',
       'REDBLFF_6_N005', 'TYLER_6_N001', 'TYLER_6_N002',
       'CRANEVLY_6_N003', 'ELKHIL1G_7_B2', 'ELKHIL2G_7_B2',
       'ELKHIL3G_7_B1', 'FRITOLAY_7_N002', 'LAKEVIEW_6_N101',
       'MDWYPS_6_N001', 'MIDWAY_1_N002', 'MIDWAY_1_N047', 'NORCO_1_N001',
       'OLDRIVR_6_N001', 'OLDRIVR_6_N007', 'S621AC_7_N001',
       'S621AC_7_N002', 'TUPMAN_1_N101', 'TUPMAN_1_N102',
       'WHEELER_6_N001', 'WHELRGPP_2_N004', 'DELAMO_2_N050',
       'DELAMO_2_N051', 'VILLAPK_2_N028', 'DGPAN1_7_B1',
       'HAMMONDS_1_N001', 'OXFORD_1_N001', 'WHDPAN2_7_N102',
       'WSTLD1RA_1_N001', 'DSAMIGO_2_N011', 'SANLUSRY_6_N013',
       'SANLUSRY_6_N014', 'DUNNIGAN_6_N001', 'WOODLD_1_N001',
       'WOODLD_1_N005', 'WOODLD_1_N012', 'ZAMORA_1_N001', 'GANSO_1_N001',
       'GOSELKE_1_N001', 'TWISSLMN_6_N005', 'HIGHWND3_7_GN001',
       'WOODLAND_7_B1', 'IMPRLBCH_6_N001', 'IMPRLBCH_6_N004',
       'MONTGMRY_6_N001', 'MONTGMRY_6_N002', 'OTAYLAKE_6_N001',
       'OTAY_6_N001', 'OTAY_6_N014', 'RAMCOOY_7_B1', 'SANYSDRO_6_N013',
       'SWEETWTR_6_N017', 'SWEETWTR_6_N018', 'JAPMESA_6_N001',
       'JAPMESA_6_N007', 'LASPLGS_6_N001', 'LASPULGS_6_N001',
       'PICO_1_N001', 'PICO_1_N004', 'SANMATEO_1_N009', 'SONOFR2_7_B1',
       'SONOFR3_7_B1', 'SONOFRE_2_N067', 'STUART_6_N001', 'JOANEC_7_NBT3',
       'JOHANNA_2_N001', 'JOHANNA_2_N007', 'JOHANNA_2_N013',
       'JOHANNA_6_N04', 'JOHANNA_6_N05', 'JOHANNA_6_N06', 'JOHANNA_6_N07',
       'LOGANCR_2_N001', 'LOGANCR_2_N010', 'ORLANDB_6_N001',
       'WILLOWS_6_N001', 'NEENACH_6_N008', 'RIN_SUB_LNODEONA',
       'RIN_SUB_LNODEONB', 'RIN_SUB_LNODEONC', 'RSM_SUB_LNODEONB',
       'RSM_SUB_LNODEONC', 'RSM_SUB_LNODEOND', 'VAL_GS_GNODE5',
       'VAL_GS_GNODE6', 'VAL_GS_GNODE7', 'VAL_GS_GNODE8',
       'VAL_GS_LNODE5AUX', 'VAL_GS_LNODE6AUX', 'VAL_GS_LNODE7AUX',
       'VAL_GS_LNODE8AUX', 'VAL_LNODELSS', 'OCEANSDE_6_N001',
       'OCEANSDE_6_N002', 'SANLUSRY_6_N101', 'SANLUSRY_6_N201',
       'SANYSDRO_6_N001', 'SANYSDRO_6_N004', 'TOL_SUB_LNODEONA',
       'TOL_SUB_LNODEONB', 'TOL_SUB_LNODEONC', 'TOL_SUB_LNODEOND'],
      dtype=object)

## Add segment (with node) to final data

In [481]:
segment=pd.read_csv("/Users/heewonahn/school_work/STA221/Data/node_segment.csv")

              node_id  closest_segment
0      ALAMOSC_7_N001                4
1     ANDERSON_6_N001                2
2       ANTLER_6_N001                2
3     ARBUCKLE_6_N001                4
4    ATW_SUB_LNODEONB                9
..                ...              ...
400      WEED_LNODER1                1
401     YREKA_LNODE76                1
402     YREKA_LNODED1                1
403     YREKA_LNODED2                1
404     YREKA_LNODED3                1

[405 rows x 2 columns]

In [480]:
data_seg=pd.merge(
    data, segment, 
    left_on=['node_id'],
    right_on=['node_id'], 
    how='inner')

KeyError: 'node_id'

In [311]:
data_seg=data_seg.drop(columns=['node_id'])
data_seg=data_seg.groupby(['Time','closest_segment']).mean().reset_index()

## Save final data by LMP_data_final.csv

In [235]:
# data_seg.to_csv('LMP_data_final.csv', index=True)

,Unnamed: 0,Time,closest_segment,LMP,temp,wspd,Price,Stand-alone Batteries,Solar,Wind,...,Small Hydro,Coal,Nuclear,Natural Gas,Large Hydro,Batteries,Imports,Load,MW,Hour
0,0,2023-02-01 08:00:00,1,97.529119,-4.400000,0.000000,12.230327,-272.0,-11.0,600.0,...,231.0,5.0,2261.0,13693.0,1698.0,-286.0,3654.0,22301.0,2460.970000,8.0
1,1,2023-02-01 08:00:00,2,99.649466,1.021739,8.669565,12.230327,-272.0,-11.0,600.0,...,231.0,5.0,2261.0,13693.0,1698.0,-286.0,3654.0,22301.0,19943.831304,8.0
2,2,2023-02-01 08:00:00,3,99.247654,2.981818,6.145455,12.230327,-272.0,-11.0,600.0,...,231.0,5.0,2261.0,13693.0,1698.0,-286.0,3654.0,22301.0,22611.490000,8.0
3,3,2023-02-01 08:00:00,4,101.704836,3.228000,5.556000,12.230327,-272.0,-11.0,600.0,...,231.0,5.0,2261.0,13693.0,1698.0,-286.0,3654.0,22301.0,17558.263600,8.0
4,4,2023-02-01 08:00:00,5,102.110759,3.466667,11.152381,12.230327,-272.0,-11.0,600.0,...,231.0,5.0,2261.0,13693.0,1698.0,-286.0,3654.0,22301.0,22611.490000,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58925,58925,2024-11-11 07:00:00,6,39.238622,6.650000,9.183333,2.102567,593.0,-52.0,784.0,...,168.0,-1.0,2262.0,9787.0,1669.0,648.0,5943.0,22031.0,21265.240000,7.0
58926,58926,2024-11-11 07:00:00,7,39.349959,10.975000,10.175000,2.102567,593.0,-52.0,784.0,...,168.0,-1.0,2262.0,9787.0,1669.0,648.0,5943.0,22031.0,21265.240000,7.0
58927,58927,2024-11-11 07:00:00,8,40.581741,13.280000,12.460000,2.102567,593.0,-52.0,784.0,...,168.0,-1.0,2262.0,9787.0,1669.0,648.0,5943.0,22031.0,12364.240667,7.0
58928,58928,2024-11-11 07:00:00,9,40.526686,12.803175,4.477778,2.102567,593.0,-52.0,784.0,...,168.0,-1.0,2262.0,9787.0,1669.0,648.0,5943.0,22031.0,11577.077460,7.0
58929,58929,2024-11-11 07:00:00,10,40.331728,11.664706,5.270588,2.102567,593.0,-52.0,784.0,...,168.0,-1.0,2262.0,9787.0,1669.0,648.0,5943.0,22031.0,21265.240000,7.0